.zfe-qq{
	width: 100%;height: auto;
}
.zfe-qq .zfe-aa{
	width: 100%;
	height: .98rem;
	border-bottom: .01rem solid #dedede;
	display: flex;
	align-items:center;
	padding:0 .25rem;	
	font-size: 16px;
}
.zfe-qq .zfe-aa .zfe-name{
    flex:none;
    width: 1.4rem;
    color: #666;
}
.zfe-qq .zfe-aa input{
	flex:auto;
	width: 2rem;
	outline: 0;
	border:0;
	background: none;
	margin-left: .2rem;
	font-size: 15px;
}

.zfe-aa select{
	flex:auto;
	width: 2rem;
	outline: none;
	border:none;
	background: none;
	margin-left: .2rem;
	font-size: 15px;
}
.zfe-qq textarea{
	width: 100%;height: 2.6rem;
	resize:none;
	border:none;
	/*border-bottom:.01rem solid #dedede;*/
	list-style: none;
	outline: 0;
	background: none;
}
.zfe-add{
	width: 100%;height: 2.54rem;
    border:.01rem solid #dedede;
	display: flex;
    align-items:center;	
}
.zfe-add a{
	margin-left: .2rem;
	display: flex;
	width: 1.58rem;height: 1.77rem;
	border:.02rem dashed #BFC0C0;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	color: #999;
}
.zfe-add a span:nth-child(1){
	font-size: 32px;
	font-weight: 800;
}
.zfe-add a span:nth-child(2){
	font-size: 10px;
	margin-top: .2rem;
}
/*提交*/
.zfe-zhu{
	width: 7.02rem;height: .85rem;
	margin:1.36rem auto 0;
}
.zfe-zhu a{
	width: 100%;height: 100%;
	display: block;
	line-height: .85rem;
	text-align: center;
	color: #fff;
	background: #E60033;
	border-radius: .85rem;
}