.zfe-con{
	width:.85rem;height: .85rem;
	margin: 3.34rem auto .45rem;	
}
.zfe-con img{
	width: 100%;
}
.zfe-dddd{
	width:100%;
	text-align: center;
	font-size: 16px;
	color: #333;
	font-weight: 
}
.zfe-dddd span:nth-child(2){
	margin-left: .3rem;
}