body{
	font-size: 16px;
	display: flex;
	display:-webkit-flex;
	flex-direction:column;
	-webkit-box-orient:vertical;
    -webkit-box-direction: normal;
}
body,html{
	width: 100%;
	height: 100%;
}
*{
	box-sizing:border-box;
}


.header-box{
	width: 100%;
	height: .88rem;
	background: red;
	flex: 0 0 auto;
}

.section-content{
	flex: 1 0 auto;
	background: #F2F2F2;
	overflow: auto;
	position: relative;
}
.section-box{
	position: absolute;
	top:0;
	left:0;
	z-index: 999;
	width: 100%;
	height: 100%;
}
.box{
	height: auto;
}

.footer-box{
	width: 100%;
	height: .98rem;
	background: yellow;
	flex: 0 0 auto;
}
.bishengke{
	width: 7.04rem;
	height: 1.07rem;
	/*background: yellow;*/
	margin:0 auto;
}
.tou img{
	width: 0.55rem;
	height: 0.55rem;
	margin: 0 auto;
	border-radius: 50%;
	float: left;
	line-height: 0.54rem;
	display: block;
	margin-top: 0.27rem;
}
.day{
	width: 0.56rem;
	height: 0.27rem;
	background: green;
	float: right;
	margin: 0 auto;
}
.tu img{
	width: 7.04rem;
	height: 3.11rem;
	background: green;
	margin: 0 auto;
	margin-left: 0.24rem;
	border-radius: 5px;
}
.dingdan{
	width: 100%;
	height: .88rem;
	background: #FFFFFF;
	/*padding-left: 1.24rem;
	padding-right: 1.24rem;*/
}
.first{
	width: 5.02rem;
	height: 100%;
	margin: 0 auto;
	/*background: green;*/
}
.jinxing{
	width: 1.8rem;
	height: 100%;
	float: left;
	/*background: red;*/
	font-size: .3rem;
	line-height: .88rem;
	color: #828282;
	/*margin-right: .62rem;*/
}
.lishi{
	width: 2.6rem;
	height: .8rem;
	margin-top: .04rem;
	background: #E60036;
	border-radius: .5rem;
	float: right;
}
.wenzi{
	font-size: .3rem;
	color: #FDEFF1;
	text-align: center;
	line-height: .8rem;
}
.kuang{
	width: 7rem;
	height: 2.42rem;
	margin: 0 auto;
	background: #FFFFFF;
	margin-top: .24rem;
	padding-left: .07rem;
}
.content{
	width: 6.86rem;
	height: 2.2rem;
	/*background: red;*/
	float: left;
	margin: 0 auto;
	margin-top: .12rem;
}
.content1{
	width: 100%;
	height: 1.78rem;
	border-bottom: .01rem solid #F7F7F7;
}
.pingjia{
	width: 100%;
	height: .29rem;
	/*background: green;*/
	float: left;
	margin-top: .12rem;
}
.zailai{
	width: 1.2rem;
	height: 100%;
	/*background: blue;*/
	float: right;
	border-radius: .2rem;
	margin-left: .14rem;
	border: .02rem solid #B0B0B0;
	font-size: .2rem;
	color: #878787;
	text-align: center;
	line-height: 100%;
}
.qupingjia{
	width: 1.2rem;
	height: 100%;
	/*background: blue;*/
	float: right;
	border-radius: .2rem;
	border: .02rem solid #B0B0B0;
	font-size: .2rem;
	color: #878787;
	text-align: center;
	line-height: 100%;
}
.tupiankuang{
	width: .7rem;
	height: 100%;
	float: left;
}
.tupian{
	width: .7rem;
	height: .7rem;
	float: left;
}
.tupian img{
	width: .7rem;
	height: .7rem;
}
.wenzikuang{
	width: 6.16rem;
	height: 100%;
	/*background: red;*/
	float: left;
}
.wenzikuang1{
	width: 100%;
	height: .76rem;
	border-bottom: .01rem solid #F2F2F2;
}
.hanbaobao{
	width: 3.46rem;
	float: left;
	line-height: .76rem;
	font-size: .28rem;
	color: #515151;
}
.wancheng{
	width: 1.2rem;
	float: right;
	line-height: .76rem;
	font-size: .28rem;
	color: #515151;
}
.wenzikuang2{
	width: 100%;
	height: .54rem;
	/*background: green;*/
}
.taocan{
	width: 3.46rem;
	float: left;
	line-height: .54rem;
	font-size: .24rem;
	color: #777777;
}
.shuliang{
	width: .3rem;
	float: right;
	line-height: .54rem;
	font-size: .24rem;
	color: #777777;
}
.wenzikuang3{
	width: 100%;
	height: .36rem;
	/*background: blue;*/
}
.jiaqian{
	font-size: .2rem;
	float: right;
	line-height: .4rem;
	color: #3F3F3F;
}
.miaoshu{
	font-size: .2rem;
	float: right;
	line-height: .4rem;
	color: #ACACAC;
}