body{
	font-size: 16px;
	display: flex;
	display:-webkit-flex;
	flex-direction:column;
	-webkit-box-orient:vertical;
    -webkit-box-direction: normal;
}
body,html{
	width: 100%;
	height: 100%;
}
*{
	box-sizing:border-box;
}


/*.header-box{
	width: 100%;
	height: .88rem;
	background: red;
	flex: 0 0 auto;
}*/
.header-box{
	width: 100%;
	height: .88rem;
	flex: 0 0 auto;
}

.headerBox{
	width: 100%;
	height: 100%;
	background: #E60033;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
	position: relative;
}
.headerBox .title{
	width: auto;
	font-size: .35rem;
	color: #fff;
}
.headerBox .leftBox{
	position: absolute;
	left: 0;
	top: 0;
	width: .88rem;
	height: .88rem;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
}
.headerBox .leftBox a{
	display: block;
}
.headerBox .leftBox a img{
	width: .49rem;
	height: .49rem;
	display: block;
}




.section-content{
	flex: 1 0 auto;
	background: #F2F2F2;
	overflow: auto;
	position: relative;
}
.section-box{
	position: absolute;
	top:0;
	left:0;
	z-index: 999;
	width: 100%;
	height: 100%;
}
.box{
	height: auto;
}

.footer-box{
	width: 100%;
	height: .98rem;
	/*background: yellow;*/
	flex: 0 0 auto;
	text-align: center;
	line-height: .98rem;
	background: #E60033;
	color: #FBE1E4;
}
.bishengke{
	width: 7.04rem;
	height: 1.07rem;
	/*background: yellow;*/
	margin:0 auto;
}
.tou img{
	width: 0.55rem;
	height: 0.55rem;
	margin: 0 auto;
	border-radius: 50%;
	float: left;
	line-height: 0.54rem;
	display: block;
	margin-top: 0.27rem;
}
.day{
	width: 0.56rem;
	height: 0.27rem;
	background: green;
	float: right;
	margin: 0 auto;
}
.tu img{
	width: 7.04rem;
	height: 3.11rem;
	background: green;
	margin: 0 auto;
	margin-left: 0.24rem;
	border-radius: 5px;
}
.peisong{
	width: 100%;
	height: 1.66rem;
	border: .01rem solid #EEEEEE;
	/*background: red;*/
}
.qishi{
	width: 4.1rem;
	height: 1.2rem;
	/*background: blue;*/
	margin-top: .24rem;
	margin-left: .24rem;
}
.qishi1{
	width: 100%;
	height: .76rem;
	/*background: yellow;*/
}
.touxiang{
	width: .76rem;
	height: .76rem;
	float: left;
}
.touxiang img{
	width: .76rem;
	height: .76rem;
}
.wenzi{
	width: 3.06rem;
	height: 100%;
	float: right;
	/*background: black;*/
}
.wenzi1{
	width: 1.94rem;
	height: .4rem;
	float: left;
	/*background: green;*/
	font-size: .3rem;
	line-height: .4rem;
	color: #424242;
}
.kuang{
	width: 1rem;
	height: .24rem;
	/*background: red;*/
	float: right;
	border: .01rem solid #E71647;
	margin-top: .08rem;
	font-size: .16rem;
	line-height: .22rem;
	color: #E95C71;
	border-radius: .1rem 0 .1rem 0/.1rem 0 .1rem 0;
}
.wenzi2{
	width: 100%;
	height: .26rem;
	float: left;
	/*background: pink;*/
	font-size: .16rem;
	color: #3D3D3D;
}
.bottom{
	width: 100%;
	height: .42rem;
	/*background: green;*/
}
.bottom1{
	float: left;
	font-size: .16rem;
	color: #828282;
	line-height: .44rem;
}
.wujiaoxing{
	width: .3rem;
	height: .26rem;
	float: left;
	margin-left: .2rem;
}
.wujiaoxing img{
	width: .3rem;
	height: .26rem;
}
.zan{
	width: 100%;
	height: .68rem;
	border: .01rem solid #EEEEEE;
}
.zan1{
	width: 6.92rem;
	height: 100%;
	margin: 0 auto;
	/*background: red;*/
}
.zan2{
	float: left;
	font-size: .3rem;
	color: #494949;
	line-height: .68rem;
}
.zan3{
	width: .72rem;
	height: .36rem;
	float: right;
	border: .01rem solid #696969;
	border-radius: .2rem;
	margin-top: .18rem;
	margin-left: .1rem;
}
.zantupian{
	width: .32rem;
	height: .32rem;
	/*float: right;*/
	margin-top: -0.02rem;
	margin-left: .2rem;
}
.zantupian img{
	width: .32rem;
	height: .32rem;
}
.last{
	width: 100%;
	height: .5rem;
	padding-left: .24rem;
	font-size: .16rem;
	line-height: .5rem;
	color: #A7A7A7;
	text-align: left;
	float: left;
}