.gxf-guanzhu{
	width: 7rem;height: auto;
	margin:0 auto;
	margin-top:.15rem;
}
.gxf-guanzhu-shang{
	width: 6.85rem;height: auto;
	margin:0 auto;
}
.gxf-guanzhu-p1{
	color:#3B3B3B;
	font-size: .35rem;
}
.gxf-guanzhu-p2{
	color:#A1A1A1;
	font-size: .28rem;
}
.gxf-xian{
	width: 100%;
	border-top: 1px solid #E8E8E8;
	margin-top: .1rem;
}
.gxf-guanzhu-p3{
	color:#363636;
	font-size: .28rem;
	margin-top:.2rem;
}
.gxf-guanzhu-p4{
	color:#363636;
	font-size: .28rem;
	margin-top:.28rem;
}
.gxf-guanzhu-xia{
	width: 100%;height: 7.3rem;
	margin-top: .2rem;
}
.gxf-guanzhu-xia img{
	width: 100%;
}
.gxf-guanzhu-right{
	width: 2.45rem;height: .55rem;
	float: right;
}
.gxf-guanzhu-fenxiang{
	width: auto;height: .5rem;
	float: left;
	margin-left: .08rem;
	position: relative;
}
.gxf-guanzhu-fenxiang img{
	height: 100%;
}
.gxf-guanzhu-s5{
	position: absolute;
	font-size: .2rem;
	color:#363636;
	top:.08rem;left:.5rem;
}
.gxf-guanzhu-biaoti{
	margin-top: .2rem;
	font-size: .27rem;
	color:#363636;
}