body{
	font-family:苹方;

}

.zwb-box{
	height: 2.25rem;width: 100%;
	background: #E60036;
	padding-top:.9rem;
}
.zwb-zfcg{
	width: 5.2rem;
	height:6.5rem;
	background: #fff;
	margin: 0 auto;
	border-radius: 5%;
	position: relative;
	text-align: center;
	overflow: hidden;
	z-index: 0;

}
.zwb-bc{
	width: 0.3rem;
	height: 0.3rem;
	position: absolute;
	top: 0.07rem;
	right: 0.05rem;

}
.zwb-zi{
	font-size: 0.45rem;
	color: #F55761;
/*	position: relative;
	top: 0.47rem;left: 1.4rem;*/
	margin-top: 0.46rem;
}
.zwb-zi2{
font-size: 0.18rem;
    color: #D3D3D3;
    z-index: 999;
    letter-spacing:0.03rem;
    margin-top: 3.25rem;
}
.zwb-zi3{
    font-size: 0.15rem;
    color: #D3D3D3;
/*    position: relative;
    top: 3.63rem;
    left: 1.73rem;*/
    z-index: 999;
    display: inline-block;
}
.zwb-djlq{
	width: 4.5rem;
	height: 0.7rem;
	background: #E60036;
	margin: 0.4rem auto;
	position: relative;
	border-radius:2.2rem;
}
.zwb-djlq span{
	font-size: 0.22rem;
	margin: auto 0;
	color: #fff;
	position: absolute;
	top: 0.2rem;left: 1.8rem;
}
.zwb-zft{
	width: 100%;
	height: 100%;
	background: url(../../images/zwb-zhifu1.png) no-repeat;
	background-size: 100%;
    position: absolute;
    top: 0.4rem;
    z-index: -1;
}