html,
body {
  height: 100%;
}
body {
  width: 100%;
  background: url(../../images/ly_images/img-bg.jpg) no-repeat center center / 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}
.head {
  width: 100%;
  height: .88rem;
  line-height: .88rem;
  padding: 0 .24rem;
  flex: none;
}
.head img {
  display: inline-block;
  width: .3rem;
  height: .36rem;
}
.main {
  width: 100%;
  flex: auto;
  background: #282828;
  border-radius: .15rem;
  padding: .32rem .24rem;
}
.main .itemBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
}
.main .itemBox .items {
  width: 1.57rem;
  height: 1.57rem;
  background: #fff;
  border-radius: .15rem;
  margin-bottom: .29rem;
  overflow: hidden;
  position: relative;
}
.main .itemBox .items .tupian {
  width: 100%;
}
.main .itemBox .items .mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
}
.main .itemBox .items .mask img {
  width: .64rem;
  height: .64rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.footer {
  width: 100%;
  height: .98rem;
  background: rgba(229, 0, 51, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 .24rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .left {
  color: #fff;
  font-size: 11px;
  line-height: .98rem;
}
.footer .left img {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  margin-right: .15rem;
  vertical-align: middle;
}
.footer .right {
  display: block;
  width: 1.02rem;
  height: .4rem;
  background: url(../../images/ly_images/queding.png) no-repeat center center / 100%;
  border-radius: .15rem;
}
