html,
body {
  height: 100%;
}
body {
  width: 100%;
  padding: 0 .24rem;
  background: url(../../images/ly_images/img-bg.jpg) no-repeat center center / 100%;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
.head {
  width: 100%;
  height: .88rem;
  line-height: .88rem;
}
.head img {
  display: inline-block;
  width: .3rem;
  height: .36rem;
}
.navBox {
  width: 100%;
  height: 1.56rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBox .lists {
  width: 3.43rem;
  height: .16rem;
  background: #fff;
  border-radius: 30px;
  position: relative;
}
.navBox .lists img {
  position: absolute;
  width: .8rem;
}
.navBox .lists img:nth-of-type(1) {
  left: -0.25rem;
  top: -0.22rem;
}
.navBox .lists img:nth-of-type(2) {
  left: 50%;
  transform: translate(-50%);
  top: -0.22rem;
}
.navBox .lists img:nth-of-type(3) {
  right: -0.25rem;
  top: -0.22rem;
}
.main {
  width: 7.02rem;
  height: 70%;
  border-radius: .3rem;
  background: url(../../images/ly_images/bg-dian.png) no-repeat center center / 100%;
  padding: .6rem .56rem 0;
  position: relative;
}
.main .sexBox {
  width: 100%;
  height: 3.9rem;
}
.main .sexBox .sexTitle {
  width: 3.15rem;
  height: .5rem;
  margin: 0 auto;
  background: url(../../images/ly_images/bg-sex.png) no-repeat center center / 100%;
  margin-bottom: .6rem;
}
.main .sexBox .sex {
  width: 100%;
  height: 1.59rem;
  display: flex;
  justify-content: space-around;
}
.main .sexBox .sex div {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
}
.main .sexBox .sex .man {
  border: 1px solid #fff;
  background: #a9b2fa url(../../images/ly_images/man.png) no-repeat center center / 90%;
  box-shadow: 0 0 0.8rem #dde0f5;
}
.main .sexBox .sex .women {
  background: url(../../images/ly_images/women.png) no-repeat center center / 85%;
}
.main .srBox {
  width: 100%;
  height: 4.15rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.main .srBox .srTitle {
  width: 3.15rem;
  height: .5rem;
  margin: 0 auto;
  background: url(../../images/ly_images/bg-sr.png) no-repeat center center / 100%;
  margin-bottom: .6rem;
}
.main .srBox img {
  width: 100%;
}
.main .btn-xzpc {
  display: block;
  width: 5.9rem;
  height: .9rem;
  border-radius: .5rem;
  box-shadow: 0 0.05rem 0.4rem #d7b8a3;
  position: absolute;
  bottom: 0;
  transform: translate(0, 50%);
  background: url(../../images/ly_images/btn-xzpz.png) no-repeat center center / 100%;
}
