
body{
	font-size: 16px;
	display: flex;
	display:-webkit-flex;
	flex-direction:column;
	-webkit-box-orient:vertical;
    -webkit-box-direction: normal;
}
body,html{
	width: 100%;
	height: 100%;
}
*{
	box-sizing:border-box;
}


/*1.有电话的的样式CSS*/
.header-box{
	width: 100%;
	height: .88rem;
	flex: 0 0 auto;
}

.headerBox{
	width: 100%;
	height: 100%;
	background: #E60033;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
	position: relative;
}
.headerBox .title{
	width: auto;
	font-size: .35rem;
	color: #fff;
}
.headerBox .leftBox{
	position: absolute;
	left: 0;
	top: 0;
	width: .88rem;
	height: .88rem;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
}
.headerBox .leftBox a{
	display: block;
}
.headerBox .leftBox a img{
	width: .49rem;
	height: .49rem;
	display: block;
}
.headerBox .rightBox{
	position: absolute;
	right: 0;
	top: 0;
	width: .88rem;
	height: .88rem;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
}
.headerBox .rightBox a{
	display: block;
}
.headerBox .rightBox a img{
	width: .28rem;
	height: .28rem;
	display: block;
}




/*2.无电话的样式CSS*/
.header-box{
	width: 100%;
	height: .88rem;
	flex: 0 0 auto;
}

.headerBox{
	width: 100%;
	height: 100%;
	background: #E60033;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
	position: relative;
}
.headerBox .title{
	width: auto;
	font-size: .35rem;
	color: #fff;
}
.headerBox .leftBox{
	position: absolute;
	left: 0;
	top: 0;
	width: .88rem;
	height: .88rem;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
}
.headerBox .leftBox a{
	display: block;
}
.headerBox .leftBox a img{
	width: .49rem;
	height: .49rem;
	display: block;
}




/*3.首屏的样式CSS*/
.header-box{
	width: 100%;
	height: .88rem;
	flex: 0 0 auto;
}

.headerBox{
	width: 100%;
	height: 100%;
	background: #E60033;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
	position: relative;
}
.headerBox .title{
	width: auto;
	font-size: .35rem;
	color: #fff;
}
.headerBox .rightBox1{
	position: absolute;
	right: .25rem;
	top: 0;
	height: .88rem;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
}
.headerBox .rightBox1 a{
	display: block;
	font-size: .28rem;
	color: #fff;
}


/*4.什么都没有CSS*/

.header-box{
	width: 100%;
	height: .88rem;
	flex: 0 0 auto;
}

.headerBox{
	width: 100%;
	height: 100%;
	background: #E60033;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
	position: relative;
}
.headerBox .title{
	width: auto;
	font-size: .35rem;
	color: #fff;
}


/*5.css*/
.header-box{
	width: 100%;
	height: .88rem;
	flex: 0 0 auto;
}

.headerBox{
	width: 100%;
	height: 100%;
	background: #E60033;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
	position: relative;
}
.headerBox .title{
	width: auto;
	font-size: .35rem;
	color: #fff;
}
.headerBox .rightBox{
	position: absolute;
	right: 0;
	top: 0;
	width: .88rem;
	height: .88rem;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
}
.headerBox .rightBox a{
	display: block;
}
.headerBox .rightBox a img{
	width: .47rem;
	height: .47rem;
	display: block;
}


/*6.css*/
.header-box{
	width: 100%;
	height: .88rem;
	flex: 0 0 auto;
}

.headerBox{
	width: 100%;
	height: 100%;
	background: #E60033;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
	position: relative;
}
.headerBox .title{
	width: auto;
	font-size: .35rem;
	color: #fff;
}
.headerBox .leftBox{
	position: absolute;
	left: 0;
	top: 0;
	width: .88rem;
	height: .88rem;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
}
.headerBox .leftBox a{
	display: block;
}
.headerBox .leftBox a img{
	width: .49rem;
	height: .49rem;
	display: block;
}
.headerBox .rightBox1{
	position: absolute;
	right: .25rem;
	top: 0;
	height: .88rem;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
}
.headerBox .rightBox1 a{
	display: block;
	font-size: .28rem;
	color: #fff;
}


/*7.css*/
.header-box{
	width: 100%;
	height: .88rem;
	flex: 0 0 auto;
}

.headerBox{
	width: 100%;
	height: 100%;
	background: #E60033;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
	position: relative;
}
.headerBox .title{
	width: auto;
	font-size: .35rem;
	color: #fff;
	max-width: 1.8rem;
}
.headerBox .leftBox{
	position: absolute;
	left: 0;
	top: 0;
	width: .88rem;
	height: .88rem;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
}
.headerBox .leftBox a{
	display: block;
}
.headerBox .leftBox a img{
	width: .49rem;
	height: .49rem;
	display: block;
}
.headerBox .rightBox1{
	position: absolute;
	right: .25rem;
	top: 0;
	height: .88rem;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
}
.headerBox .rightBox1 a{
	display: block;
	font-size: .28rem;
	color: #fff;
}



/*8.css*/
.header-box{
	width: 100%;
	height: .88rem;
	flex: 0 0 auto;
}

.headerBox1{
	width: 100%;
	height: 100%;
	background: #E60033;
	padding-left: .88rem;
	display: flex;
	display:-webkit-flex;
	align-items:center;
	position: relative;
}
.headerBox1 .title1{
	width: auto;
	font-size: .35rem;
	color: #fff;
	max-width: 1.8rem;
}
.headerBox1 .sj{
	width: .14rem;
	height: .14rem;
	margin-left: .05rem;
}
.headerBox1 .sj img{
	width: 100%;
	height: 100%;
	display: block;
}
.headerBox1 .title3{
	width: auto;
	padding-left: .1rem;
	border-left: .01rem solid #fff;
	margin-left: .1rem;
}
.headerBox1 .title3{
	color: #E9E9E9;
	font-size: .24rem;
}
.headerBox1 .leftBox{
	position: absolute;
	left: 0;
	top: 0;
	width: .88rem;
	height: .88rem;
	display: flex;
	display:-webkit-flex;
	justify-content:center;
	align-items:center;
}
.headerBox1 .leftBox a{
	display: block;
}
.headerBox1 .leftBox a img{
	width: .49rem;
	height: .49rem;
	display: block;
}
