body,html{
    width: 100%;
    height: 100%;
}
.lb-sp-out{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.lb-sp-out .lb-sp-box{
    width: 300%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.lb-sp-out .lb-sp-box .lb-sp-ty{
    display: block;
    width: 3.96rem;
    height: 1.12rem;
    position: absolute;
    right:1.74rem;
    bottom:1.93rem;
    border-radius: 0.4rem;
}
.lb-sp-out .lb-sp-box .lb-sp-ty a{
    display: block;
    width: 100%;
    height: 100%;
}
.lb-sp-out .lb-sp-box img{
    display: block;
    width: 33.3333%;
    height: 100%;
    float: left;
}
.lb-sp-out .lb-sp-ul{
    display: block;
    width: 2rem;
    height: 0.2rem;
    position: absolute;
    left:50%;
    top:1.17rem;
    margin-left: -1rem;
}
.lb-sp-out .lb-sp-ul .lb-sp-li{
    display: block;
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    background: #ccc;
    float: left;
    margin: 0 0.2rem;
    z-index: 999;
}
.lb-sp-out .lb-sp-ul .lb-sp-li-hover{
    width: 0.35rem;
    height: 0.2rem;
    background: #e60033;
    border-radius: 0.4rem;
}
