.block{
	width: 100%;
	height: 0.34rem;
	background: red;
}
.lie1{
	width: 6.82rem;
	height: 0.92rem;
	background: yellow;
	margin: 0 auto;
}
.tu{
	width: 0.92rem;
	height: 0.91rem;
	float: left;
	border-radius: 50px;
}
.block1{
	width: 0.32rem;
	height: 0.92rem;
	background: red;
	margin-left:0.92rem;
}
.span{
	width: 5.6rem;
	height: 0.92rem;
	background: green;
	margin-left: 1.18rem;
}
