.chongzhi{
	width: 7.01rem;
	height: 0.94rem;
	background: #E70032;
	margin: 0 auto;
	border-radius: 50px;
}
.chongzhi span{
	font-size: 0.31rem;
	color: #fff;
	line-height: 0.94rem;
	font-weight: bold;
	text-align:center;
	margin-right: 3.20rem;
}