.block{
	width: 100%;
	height: 0.5rem;
	/*background: yellow;*/
}
.jinxing{
	width:6.46rem;
	height: 0.43rem;
	/*background: green;*/
	margin: 0 auto;
}
.left{
	width: 0.43rem;
	height: 0.43rem;
	float: left;
}
.block2{
	width: 0.18rem;
	height: 0.43rem;
	/*background: red;*/
	float: left;
}
.tui{
	font-weight: bold;
	font-size: 0.3rem;
	color: #333333;
}
.jiantou{
	font-weight: bold;
	font-size: 0.3rem;
	color: #333333;
	float: right;
	line-height: 0.43rem;
}
.block3{
	width: 100%;
	height: 0.26rem;
	/*background: red;*/
}
.tuikuanjine{
	width: 5.48rem;
	height: 0.27rem;
	/*background: green;*/
	margin: 0 auto;
}
.tuikuanjine span{
	font-size: 0.24rem;
	color: #333333;
}
.block4{
	width: 100%;
	height: 0.24rem;
	/*background: red;*/
}
.block5{
	width: 100%;
	height: 0.39rem;
	/*background: red;*/
}
.line{
	width: 7.02rem;
	height: 0.02rem;
	background: #000;
	margin: 0 auto;
}