.white{
	width: 100%;
	height: 0.24rem;
	/*background: green;*/
}
.twoimg{
	width: 100%;
	height: 1.09rem;
	/*background: yellow;*/
}
.middle{
	width: 6.94rem;
	height: 1.09rem;
	/*background: #784286;*/
	margin: 0 auto;
}
.youhui{
	width: 3.37rem;
	height: 1.09rem;
	/*background: green;*/
	float: left;
}
.jifen{
	width: 3.37rem;
	height: 1.09rem;
	background: red;
	float: right;
}
.block{
	width: 100%;
	height: 1.38rem;
	/*background: green;*/
}
.big{
	width: 2.44rem;
	height: 2.43rem;
	vertical-align: middle;
	/*background: red;*/
	display: block;
	margin: auto;
}
.money-block{
	width: 100%;
	height: 0.56rem;
	/*background: red;*/
}
.money{
	width: 1.34rem;
	height: 0.41rem;
	/*background: green;*/
	margin: 0 auto;
}
.money span{
	font-size: 0.24rem;
	color: #999999;
	font-weight: bold;
}
.money-xia{
	width: 100%;
	height: 1.06rem;
	/*background: green;*/
}
.chongzhi{
	width: 7.01rem;
	height: 0.94rem;
	background: #E70032;
	margin: 0 auto;
	border-radius: 50px;
	text-align:center;
}
.chongzhi span{
	font-size: 0.31rem;
	color: #fff;
	line-height: 0.94rem;
	font-weight: bold;
}
.tixian-top{
	width: 100%;
	height: 0.36rem;
	/*background: red;*/
}
.tixian{
	text-align:center;
	width: 7.01rem;
	height: 0.94rem;
	background: #FFFFFF;
	margin: 0 auto;
	border-radius: 50px;
}
.tixian span{
	font-size: 0.31rem;
	color: #999999;
	line-height: 0.94rem;
	font-weight: bold;
	text-align:center;
}







